html {
    --color_first: #FDD700; /* menu nav, footer */
    --color_second: #FF0000; /* borders , hoover */
    --color_third: #fcb103; /* background */
    --color_fourth: #0000FF; /* form border */

    --width_form_box: 700px;
    --width_form_field: 100%;
    --width_message_box: 1000px;

}

body {
    background-color: var(--color_third);
}

/* Form */
.section_content_extending {
    width: var(--width_form_box);
    margin: 0px auto 0 auto;

    position:relative;
}

.h2_content_title {
    padding: 20px 0 10px 0;

    text-align: center;
    font-size: 2em;
}

/* Load from file */
.div_load_from_file{
    position: absolute;
    right: 10%;
    top: 97px;
}



/* Select field */
#select_name{
    text-align: center;
}

.form_field_select_container {
    text-align: center;
}

#select_user_field{
    width: 120px;
    height: 2em;

    text-align: center;
}

#select_group_field {
    width: 50%;
    height: 2em;

    text-align: left;
}

/* Divide on 2 columns */
.basic_parameters {
    display: inline-block;
    float: left;
    width: 45%;
}

.extending_parameters {
    width: 45%;
    height: 100%;
    margin-left: 10%;

    display: inline-block;
    float: left;
}

/* Form field */
.form_field_name {
    margin: 3px 0 3px 0;
    font-size: 1.2em;
}

.form_field {
    width: var(--width_form_field);
    height: 1.5em;
    padding: 3px;
}

.form_field_textarea {
    width: var(--width_form_field);
    height: 6.9em;
    padding: 3px;

    resize: none;
}
/* Buttons */
.clearing_div{
    width: 100%;
    clear:both;
}

.create_form_button {
    width: calc(var(--width_form_box)/3);
    height: 1.5em;
    margin-top: 20px;
    margin-left: calc(var(--width_form_box) / 3);
    margin-right: calc(var(--width_form_box) / 3);

    font-size: 1.5em;
}

.edit_form_button {
    width: calc(var(--width_form_box) / 3);
    height: 2em;
    margin-top: 20px;

    font-size: 1em;

    background-color: #00FF00;
}

.edit_form_button:last-of-type{
    float: right;

    background-color: #FF0000;
}

/* Message field */
.p_message {
    max - width: calc(100% - 6px);
    width: var(--width_message_box);
    margin: auto;
    margin-top: 20px;
    padding: 10px;

    text-align: center;
    font-size: 1em;

    background-color: var(--color_first);

    border-style: solid;
    border-width: 3px;
    border-color: var(--color_second);
}




